
.tabla-posiciones {
    background-image: url(/views/img/2180256.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo-tabla{
    color: white;
    text-align: center;
    padding: 10px;
    border: 30px solid white
    margin 0px;
    font-family: 'Anton', sans-serif;
    margin-top: auto;

}

.subtitulo-tabla{
    color: white;
    text-align: center;
    margin:0px;
    font-family: 'Anton', sans-serif;
    margin-top: auto;

}

.table{
    width: 100%;
}