<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="estilos.css">
    <style>
        body{
            background-image: url(/img/2180256.png);
            background-repeat: no-repeat;
            background-size:cover;
        }
        
        .titulo-tabla{
            color: white;
            text-align: center;
            padding-top: 13px;
            margin: 0px;
            font-family: 'Anton', sans-serif;
            margin-bottom: 0px;
        
        }
        
        .subtitulo-tabla{
            color: white;
            text-align: center;
            margin: 0px;
            font-size: 24px;
            font-family: 'Anton', sans-serif;
        
        }
        
        .linea-tabla{
            margin-top: 30px;
            padding: 1px;
            width: 300px;
            margin: auto;
            margin-top: 30px;
            background: linear-gradient(90deg, rgb(220 219 224) 0%, rgb(186, 186, 195) 35%, rgb(85 177 196) 100%);
            border-radius: 10px;
            filter: opacity(0.4);
        
        }
        
        table{
            width: 100%;
            margin-top: 20px;
            color: black;
        }
        
        .encabezados{
            background: linear-gradient(90deg, rgb(220 219 224) 0%, rgb(236, 236, 240) 35%, rgb(244, 246, 246) 100%);
            margin-top: auto;
        }
        /* 
        table, th, td{
            border-collapse: collapse;
        } */
        
        .bandera{
            width: 50px;
        }
        
        .pilotos{
            color: white;
            width: 80px;
            margin: 10px;
        }
        
        .posicion{
            text-align: center;
            color:yellow;
        }
        
        </style>
</head>
<body>
   

    <div class="tabla-posiciones">
        <h1 class="titulo-tabla">CLASIFICACION</h1>
        <h1 class="subtitulo-tabla">FORMULA 1 2023</h1>

        <div class="linea-tabla"></div>

        <h2 class="titulo-tabla">TABLA DE POSICIONES</h2>

        <div class="linea-tabla"></div>

    </div>
<table>
    <table>
        <tr class="encabezados">
            <th>Posicion</th>
            <th>Pilotos</th>
            <th style="width: 80px;"><img class="bandera" src="/img/banderas/bandera-de-baréin-300x180.jpg" alt=""></th>
            <th style="width: 80px;"><img class="bandera" src="/img/banderas/bandera-de-arabia-saudita-300x200.jpg" alt=""></th>
            <th style="width: 80px;"><img class="bandera" src="/img/banderas/bandera-de-australia-768x384.jpg" alt=""></th>
            <th style="width: 80px;"><img class="bandera" src="/img/banderas/Flag_of_Azerbaijan.svg.png" alt=""></th>
            <th style="width: 80px;"><img class="bandera" src="/img/banderas/bandera-estados-unidos-768x405.jpg" alt=""></th>
            <th style="width: 80px;"><img class="bandera" src="/img/banderas/bandera-italia-768x512.jpg" alt=""></th>
            <th style="width: 80px;"><img class="bandera" src="/img/banderas/bandera-monaco-300x240.jpg" alt=""></th>
            <th style="width: 80px;"><img class="bandera" src="/img/banderas/bandera-españa-768x512.jpg" alt=""></th>
            <th style="width: 80px;"><img class="bandera" src="/img/banderas/bandera-de-canada-768x384.jpg" alt=""></th>
            <th style="width: 80px;"><img class="bandera" src="/img/banderas/bandera-austria-768x512.jpg" alt=""></th>
            <th style="width: 80px;"><img class="bandera" src="/img/banderas/bandera-de-gran-bretaña-768x384.jpg" alt=""></th>
            <th style="width: 80px;"><img class="bandera" src="/img/banderas/bandera-hungria-768x384.jpg" alt=""></th>
            <th style="width: 80px;"><img class="bandera" src="/img/banderas/bandera-belgica-768x666.jpg" alt=""></th>
            <th style="width: 80px;"><img class="bandera" src="/img/banderas/bandera-de-los-paises-bajos-768x512.jpg" alt=""></th>
            <th style="width: 80px;"><img class="bandera" src="/img/banderas/bandera-italia-768x512.jpg" alt=""></th>
            <th style="width: 80px;"><img class="bandera" src="/img/banderas/bandera-de-singapur-768x512.jpg" alt=""></th>
            <th style="width: 80px;"><img class="bandera" src="/img/banderas/bandera-de-japon-768x512.jpg" alt=""></th>
            <th style="width: 80px;"><img class="bandera" src="/img/banderas/bandera-de-catar-768x302.jpg" alt=""></th>
            <th style="width: 80px;"><img class="bandera" src="/img/banderas/bandera-estados-unidos-768x405.jpg" alt=""></th>
            <th style="width: 80px;"><img class="bandera" src="/img/banderas/bandera-mexico-768x439.jpg" alt=""></th>
            <th style="width: 80px;"><img class="bandera" src="/img/banderas/bandera-brasil.jpg" alt=""></th>
            <th style="width: 80px;"><img class="bandera" src="/img/banderas/bandera-estados-unidos-768x405.jpg" alt=""></th>
            <th style="width: 80px;"><img class="bandera" src="/img/banderas/bandera-de-los-emiratos-arabes-unidos-300x150.jpg" alt=""></th>;
           
        </tr>
    <tr class="pilotos">
        <td class="posicion">1°</td>
        <td style="width: 80px;"><img class="pilotos" src="/img/pilotos/max-verstappen-red-bull-racing-1.jpg"
             alt="">Max Verstappen</td>
        <th>25</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>

    </tr>
      
    <tr class="pilotos">
        <td class="posicion">2°</td>
        <td style="width: 80px;"><img class="pilotos" src="/img/pilotos/sergio-perez-red-bull-racing-1.jpg"
                alt="">Checo Pérez</td>
        <th>25</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
    
    </tr>
    <tr class="pilotos">
        <td class="posicion">3°</td>
        <td style="width: 80px;"><img class="pilotos" src="/img/pilotos/fernando-alonso-aston-martin-r-1.jpg"
                alt="">Fernando Alonso</td>
        <th>25</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
    
    </tr>
    <tr class="pilotos">
        <td class="posicion">4°</td>
        <td style="width: 80px;"><img class="pilotos" src="/img/pilotos/carlos-sainz-ferrari-1.jpg"
                alt="">Carlos Sainz</td>
        <th>25</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
    
    </tr>
    <tr class="pilotos">
        <td class="posicion">5°</td>
        <td style="width: 80px;"><img class="pilotos" src="/img/pilotos/lewis-hamilton-mercedes-1.jpg"
                alt="">Lewis Hamilton</td>
        <th>25</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
    
    </tr>
    <tr class="pilotos">
        <td class="posicion">6°</td>
        <td style="width: 80px;"><img class="pilotos" src="/img/pilotos/lance-stroll-aston-martin-raci-1.jpg"
                alt="">Lance Stroll</td>
        <th>25</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
    
    </tr>
    <tr class="pilotos">
        <td class="posicion">7°</td>
        <td style="width: 80px;"><img class="pilotos" src="/img/pilotos/george-russell-mercedes-1.jpg"
                alt="">George Russell</td>
        <th>25</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
    
    </tr>
    <tr class="pilotos">
        <td class="posicion">8°</td>
        <td style="width: 80px;"><img class="pilotos" src="/img/pilotos/valtteri-bottas-alfa-romeo-1.jpg"
                alt="">Valtteri Bottas</td>
        <th>25</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
    
    </tr>
    <tr class="pilotos">
        <td class="posicion">9°</td>
        <td style="width: 80px;"><img class="pilotos" src="/img/pilotos/pierre-gasly-alphatauri-1.jpg"
                alt="">Pierre Gasly</td>
        <th>25</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
    
    </tr>
    <tr class="pilotos">
        <td class="posicion">10°</td>
        <td style="width: 80px;"><img class="pilotos" src="/img/pilotos/alex-albon-williams-1.jpg"
                alt="">Alex Albon</td>
        <th>25</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
        <th>33</th>
    
    </tr>
    </table>
</table>

</body>
</html>

<!-- <ol>Valtteri Bottas</ol>


    <form name="formulario">
        <input type="text" name="elemento" />
    </form>

    <form name="formulario" id="formulario">
        <input type="text" name="elemento" id="elemento" />
    </form>


<input type="radio" value="si" name="pregunta" id="pregunta_si" /> SI
<input type="radio" value="no" name="pregunta" id="pregunta_no" /> NO
<input type="radio" value="nsnc" name="pregunta" id="pregunta_nsnc" /> NS/NC


<input type="checkbox" value="condiciones" name="condiciones" id="condiciones" /> He leído y acepto las condiciones
<input type="checkbox" value="privacidad" name="privacidad" id="privacidad" /> He leído la política de privacidad


<select id="opciones" name="opciones">
    <option value="1">Primer valor</option>
    <option value="2">Segundo valor</option>
    <option value="3">Tercer valor</option>
    <option value="4">Cuarto valor</option>
</select> -->